consul_host=127.0.0.1
consul_port=8500
machine_id=tencent
kafka_server=127.0.0.1:9092
datasource=jdbc:mysql://127.0.0.1:3306/demo?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
datasource_username=root
datasource_password=root