consul_host=127.0.0.1
consul_port=8500
machine_id=tencent

datasource="jdbc:mysql://127.0.0.1:3306/demo?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC"
datasource_username=root
datasource_password=root

kafka_server=127.0.0.1:9092

redis_host=127.0.0.1
redis_port=6379
redis_password=redis123456
redis_database=1